//
// YaPB, based on PODBot by Markus Klinge ("CountFloyd").
// Copyright © YaPB Project Developers <yapb@jeefo.net>.
//
// SPDX-License-Identifier: MIT
//

//#include <winver.h>

#ifdef VERSION_GENERATED
//#  define VERSION_HEADER <version.build.h>
#else
//#  define VERSION_HEADER "../inc/version.h"
#endif

//#include VERSION_HEADER

VS_VERSION_INFO VERSIONINFO
FILEVERSION 4,5,0,0
PRODUCTVERSION 4,5,0,0
FILEOS 0x40004
FILETYPE 0x2 {
    BLOCK "StringFileInfo" {
      BLOCK "040904E4" {
         VALUE "CompanyName", "YaPB Project\0"
         VALUE "FileDescription", "YaPB v4.5 - The Counter-Strike Bot\0"
         VALUE "LegalCopyright", "Copyright © 2004-2025 YaPB Project\0"
         VALUE "OriginalFilename", "yapb.dll\0"
         VALUE "ProductName", "YaPB\0"
         VALUE "InternalName", "YaPB DLL\0"
         VALUE "FileVersion", "4.5\0"
         VALUE "ProductVersion", "4.5\0"
         VALUE "SpecialBuild", "Custom Build\0"
      }
    }
    BLOCK "VarFileInfo" {
       VALUE "Translation", 0x400, 1200
    }
}
